POSTGRES_USER=nest_fintech
POSTGRES_PASSWORD=fake_password
POSTGRES_DB=fake_nest_fintech

DATABASE_URL=postgresql://nest_fintech:devpassword_change_me@localhost:5432/nest_fintech?schema=public

JWT_SECRET=secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_TTL_DAYS=1